<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143713379215-17bamuuj96l0ibcfqb1j1kf6ufebdelq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143713379215-17bamuuj96l0ibcfqb1j1kf6ufebdelq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOlKlb3Rx15pxqnPvQHhHbZfABQqpoZks</string>
	<key>GCM_SENDER_ID</key>
	<string>143713379215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphanogun.InstagramFirestone</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-7705b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-7705b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143713379215:ios:801dc88a54312a105161fa</string>
</dict>
</plist>